/.bash_history
/.gitconfig
/.ms-ad
/.node_repl_history
/.recently-used.xbel
/.vscode
/AppData
/Contacts
/Documents
/Downloads
/Favorites
/IntelGraphicsProfiles
/Links
/Music
/my-project
/new-project
/node_modules
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{3f3c7e74-9067-11ed-9415-505a6515ae18}.TM.blf
/NTUSER.DAT{3f3c7e74-9067-11ed-9415-505a6515ae18}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{3f3c7e74-9067-11ed-9415-505a6515ae18}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/package-lock.json
/package.json
/randomfolder
/react-sandbox-april
/sandbox
/Saved Games
/Searches
/Tic Tac Toe
/Videos
/OneDrive
/Local Settings
/Cookies
/NetHood
/Application Data
/PrintHood
/Recent
/SendTo
/Start Menu
/Templates
/Τα έγγραφά μου